@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#0D192C;
  font-family: "Outfit";
}


